/*
menu: #c5c5b2
conteudo: #e8e8d9
link: #4b566a
h1: #828271
*/

body {
    background: #d2d2c1 url('../img/fundo.png');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#principal {
    width: 900px;
}

#menu {
    background: #c5c5b2;
    padding: 20px;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
}