body {
    background-color: #76C3FA;
    margin: 0;
    padding: 0;
}

div#container {
    position: relative;
    width: 900px;
    margin: 30px auto;
    padding: 15px;
    background-color: white;
}

div#container-navbar {
    background-color: #0285F2;
    padding: 15px;
}

#logo-magalu {
    width: 150px;
}

#novo-site {
    position: relative;
    left: 5em;
    bottom: 15px;
    width: 100px;
}

div > a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
}

a:hover {
    background-color: white;
    color: #0285F2;
}

.chat {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #F289EA;
}

.novo {
    position: absolute;
    top: 0;
    right: 0;
}
