body {
    background-color: #76C3FA;
}

div#container {
    padding: 15px;
    background-color: white;
}

div#container-navbar {
    background-color: #0285F2;
    padding: 15px;
}

#logo-magalu {
    width: 150px;
}

#novo-site {
    position: relative;
    left: 5em;
    bottom: 15px;
    width: 100px;
}

div > a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
}

a:hover {
    background-color: white;
    color: #0285F2;
}
