.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'cabecalho cabecalho'
        'capa-conteudo capa-imagem'
        'organizacao-imagem organizacao-conteudo'
    ;
    row-gap: 20px;
    column-gap: 20px;
}

header {
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

section#capa-conteudo {
    grid-area: capa-conteudo;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#capa-imagem {
    grid-area: capa-imagem;
    border: 1px solid red;
}

section#organizacao-imagem {
    grid-area: organizacao-imagem;
    border: 1px solid red;
}

section#capa-imagem > img, section#organizacao-imagem > img {
    max-width: 100%;
}

section#organizacao-conteudo {
    grid-area: organizacao-conteudo;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex; 
    list-style: none;
}

ul a:link, a:visited {
    text-decoration: none;
    padding: 10px;
    color: black; 
    font-size: 1.2rem;
}

ul a:hover {
    color: #0B5CFF;
}

.botao {
    color: #0B5CFF;
    text-decoration: none;
    border: 2px solid #0B5CFF;
    border-radius: 25px;
    padding: 5px 30px;
    align-self: flex-start;
}

.botao:hover {
    background: #d2e1ff;
}

.botao.destaque {
    background: #0B5CFF;
    color: white;
}

.botao.destaque:hover {
    background: #0B5CFF;
}

/* Tipografia */
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 1.8rem;
    margin-top: 0;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

.texto-destaque {
    color: #0B5CFF;
}