.container {
    border: 1px solid red;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex; 
    list-style: none;
}

ul a:link, a:visited {
    text-decoration: none;
    padding: 10px;
    color: black; 
}

ul a:hover {
    color: #0B5CFF;
}

.botao {
    color: #0B5CFF;
    text-decoration: none;
    border: 2px solid #0B5CFF;
    border-radius: 25px;
    padding: 5px 30px;
}

.botao:hover {
    background: #d2e1ff;
}

.botao.destaque {
    background: #0B5CFF;
    color: white;
}

.botao.destaque:hover {
    background: #0B5CFF;
}